@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		@apply text-center font-retina font-light;
	}

	body {
		@apply min-h-full;
	}
}

@layer components {
	.h1 {
		@apply font-editors text-4.5xl sm:text-5xl lg:text-6xl;
	}
	.h1-legal {
		@apply mb-2 text-4xl font-medium;
	}

	.h2 {
		@apply font-editors text-3xl tracking-medium-wide md:text-4xl lg:text-4.5xl;
	}

	.h2-legal {
		@apply h3 mb-4 border-b-2;
	}

	.h3 {
		@apply text-lg font-medium lg:text-xl;
	}

	.h3-legal {
		@apply mt-4 font-medium;
	}

	.text-link {
		@apply relative pb-[3px] font-normal underline decoration-slate-200 underline-offset-4;
	}

	.container {
		@apply mx-auto max-w-[1400px] px-8 sm:px-12 md:px-16 lg:px-20;
	}

	.section {
		@apply my-24 md:my-28 lg:my-32;
	}
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-light-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-book-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-medium-italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Editors';
	src:
		url('/fonts/editors-note/regular.woff2') format('woff2'),
		url('/fonts/editors-note/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
