@import 'tailwindcss';
@config '../tailwind.config.ts';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@utility h1 {
	@apply font-mallory text-4.5xl lg:text-5.5xl font-medium tracking-tighter md:text-5xl;
}

@utility h1-legal {
	@apply mb-2 text-4xl font-medium;
}

@utility h2 {
	@apply font-mallory text-3xl font-medium tracking-tight;
}

@utility h2-legal {
	@apply h3 mb-4 border-b-2;
}

@utility h3 {
	@apply text-xl font-medium;
}

@utility h3-legal {
	@apply mt-4 font-medium;
}

@utility text-link {
	@apply relative pb-0.75 font-normal underline decoration-slate-200 underline-offset-4;
}

@utility container {
	@apply mx-auto max-w-350 px-8 sm:px-16 md:px-16 lg:px-20;
}

@utility section {
	@apply my-20 md:my-28 lg:my-32;
}

@layer base {
	html {
		@apply font-retina text-left font-light sm:text-center;
	}

	body {
		@apply min-h-full;
	}
}

/* Custom hover variant for devices with fine pointer (mouse) */
@media (any-hover: hover) and (any-pointer: fine) {
	.group:hover .group-hover\:-translate-x-2 {
		--tw-translate-x: -0.5rem;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
			skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
			scaleY(var(--tw-scale-y));
	}
	.group:hover .group-hover\:translate-x-full {
		--tw-translate-x: 100%;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
			skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
			scaleY(var(--tw-scale-y));
	}
}

/* Retina */
@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina/light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina/light-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina/normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina/medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Mallory */
@font-face {
	font-family: 'Mallory';
	src: url('/fonts/mallory/medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Fallback fonts */
@font-face {
	font-family: 'TNR Fallback';
	src: local('Times New Roman');
	size-adjust: 99%;
	ascent-override: 75%;
	line-gap-override: 24%;
}

@font-face {
	font-family: 'Tahoma Fallback';
	src: local('Tahoma');
	size-adjust: 97%;
	ascent-override: 87%;
	line-gap-override: 12%;
}

@font-face {
	font-family: 'Arial Retina Fallback';
	src: local('Arial');
	size-adjust: 98%;
	ascent-override: 84%;
	line-gap-override: 19%;
}

@font-face {
	font-family: 'Arial Mallory Fallback';
	src: local(Arial);
	size-adjust: 101%;
	ascent-override: 104%;
	descent-override: normal;
	line-gap-override: 7%;
}
