@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		@apply text-center font-retina font-light;
	}

	body {
		@apply min-h-full;
	}

	.h1 {
		@apply font-times text-6xl tracking-tight;
	}
	.h2 {
		@apply text-4.5xl font-times tracking-medium-tight;
	}

	.h3 {
		@apply text-xl font-medium;
	}
}

.text-link {
	@apply relative pb-[3px] font-normal underline decoration-gray-300 underline-offset-4;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-light-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/RetinaTRIAL-BookItalic-BF66a9ac659eba1.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/RetinaTRIAL-Medium-BF66a9ac6350b07.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/RetinaTRIAL-MediumItalic-BF66a9ac63ee868.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/retina-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Retina';
	src: url('/fonts/RetinaTRIAL-BoldItalic-BF66a9ac65def4e.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

/* Trial fonts */
@font-face {
	font-family: 'Tobias';
	src: url('fonts/tobias/TobiasTRIAL-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Tobias';
	src: url('fonts/tobias/TobiasTRIAL-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Tobias';
	src: url('fonts/tobias/TobiasTRIAL-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tobias';
	src: url('fonts/tobias/TobiasTRIAL-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

/* Teodor */
@font-face {
	font-family: 'Teodor';
	src: url('fonts/teodor/TeodorTRIAL-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Teodor';
	src: url('fonts/teodor/TeodorTRIAL-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Teodor';
	src: url('fonts/teodor/TeodorTRIAL-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Teodor';
	src: url('fonts/teodor/TeodorTRIAL-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
